{% extends "dashboard_base.html" %}
{% load humanize %}
{% load format_number %}
{% block head %}<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>{% endblock %}
{% block content %}
  <main class="space-y-8">
    <section class="grid grid-cols-4 gap-4">
      <div class="p-4 rounded-lg border shadow-sm space-y-2">
        <p>Total Users</p>
        <p class="text-3xl font-bold">
          {{ user_count|intdot }} <span class="text-sm text-slate-500">user</span>
        </p>
        <p class="text-slate-400">{{ users_registered_today|intdot }} users registered today</p>
      </div>
    </section>
  </main>
  <script>
{% endblock content %}
