{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Django Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'output.css' %}" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <main class="flex h-screen overflow-hidden bg-soft">
      <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md h-min m-auto my-auto">
        <h2 class="text-2xl font-semibold text-center mb-6">Reset Kata Sandi Berhasil</h2>
        <p class="text-center">Anda sekarang dapat membuka aplikasi dan masuk dengan kata sandi baru Anda.</p>
      </div>
    </main>
  </body>
</html>
